<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставщика</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
  <h2>Редактирование поставщика</h2>
  <div th:each="el:${supplier}">
    <form method="post">
      <p><input type="text" th:value="${el.name_org}" name="name_org" placeholder="Введите название организации"></p>
      <p><input type="text" th:value="${el.phone}" name="phone" placeholder="Введите телефон"></p>
      <br>
      <p><button type="submit">Сохранить изменения</button></p>
    </form>
  </div>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>