<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование цвета</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
<h2>Редактирование цвета</h2>
<div th:each="el:${color}">
  <form method="post">
    <p><input type="text" th:value="${el.color_name}" name="color_name" placeholder="Введите название цвета"></p>
    <br>
    <p><button type="submit">Сохранить изменения</button></p>
  </form>
</div>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>