<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h2>Редактирование пользователя</h2>
    <div th:each="el:${user}">
        <form method="post">
            <p><input type="text" th:value="${el.familia}" name="familia" placeholder="Введите фамилию"></p>
            <p><input type="text" th:value="${el.name}" name="name" placeholder="Введите имя"></p>
            <p><input type="text" th:value="${el.otchestvo}" name="otchestvo" placeholder="Введите отчество"></p>
            <p><input type="text" th:value="${el.username}" name="username" placeholder="Введите телефон"></p>
            <div th:each="el:${contacts}">
                <form method="post">
                    <p><input type="text" th:value="${el.phone}" name="phone" placeholder="Введите телефон"></p>
                    <p><input type="text" th:value="${el.email}" name="email" placeholder="Введите email"></p>

                    <br>
                    <p><button type="submit">Сохранить изменения</button></p>
                </form>
            </div>
        </form>
    </div>

</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>