<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h1>Авторизация</h1>
    <div th:if="${param.error}">
        Неверный логин или пароль
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group row mt-3">
            <label> Login: <input type="text" name="username"/> </label>
        </div >
        <div class="form-group row mt-3">
            <label> Password: <input type="password" name="password"/> </label>
        </div>
        <div class="form-group row mt-3">
            <input type="submit" value="Sign In"/>
        </div>
    </form>
    <a href="/registration">Регистрация нового пользователя</a>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>