<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h1>Регистрация</h1>
    <form th:action="${'/registration'}" method="post" th:object="${user}">
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Фамилия</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{familia}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('familia')}" th:errors="*{familia}"></span>

        </div>

        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{name}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Отчество</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{otchestvo}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('otchestvo')}" th:errors="*{otchestvo}"></span>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{username}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            <span class="error text-danger" th:if="${message}" th:errors="*{username}"></span>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{password}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

    <form th:action="${'/addcontacts'}" method="post" th:object="${contacts}">
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Телефон</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{phone}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>

        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text"  th:field="*{email}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    </form>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>