<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление комментария</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<content class="container d-flex flex-column align-items-center mt-4">
    <h1>Добавление комментария</h1>
    <form th:action="${'/addcomment/'}" method="post" th:object="${comment}">
        <input type="hidden" name="id" th:value="${tovar.id}">
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Оценка</label>
            <div class="col-sm-10">
                <input name="rating" type="number" th:field="*{rating}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
        </div>
        <div class="form-group row mt-3">
            <label class="col-sm-2 col-form-label">Текст комментария</label>
            <div class="col-sm-10">
                <input name="full_text" type="text" th:field="*{full_text}" class="form-control">
            </div>
            <span class="error text-danger" th:if="${#fields.hasErrors('full_text')}" th:errors="*{full_text}"></span>
        </div>
        <button type="submit">Добавить комментарий</button>
    </form>
</content>
<script th:src="@{/css/bootstrap.js}"></script>
</body>
</html>